<div class="blogs-list">
	<h2>Danh sách bài viết</h2>
	<ul>
		<li><a routerLink="/blogs/huong-dan-cai-dat">Hướng dẫn cài đặt phần mềm quay video đóng hàng</a></li>
		<li><a routerLink="/blogs/huong-dan-su-dung">Hướng dẫn sử dụng phần mềm quay video đóng hàng</a></li>
		<li><a routerLink="/blogs/huong-dan-ket-noi-droidcam">Hướng dẫn kết nối DroidCam - Biến điện thoại thành
				webcam</a></li>
		<!-- <li>Hướng dẫn cấu hình camera điện thoại kết nối với phần mềm quay video đóng hàng</li> -->
	</ul>
</div>