<div class="support-section">
    <h3>Cần hỗ trợ thêm?</h3>
    <p>Nếu bạn gặp khó khăn trong quá trình sử dụng phần mềm, vui lòng liên hệ:</p>
    <div class="contact-buttons">
        <a href="https://zalo.me/0363923471" target="_blank" class="support-button">
            <img src="assets/logo/zalo-icon.png" alt="Zalo" class="button-icon">
            <span>Hỗ trợ qua Zalo</span>
        </a>
        <a href="https://www.facebook.com/quayvideodongdon" target="_blank" class="support-button">
            <img src="assets/logo/facebook-icon.webp" alt="Facebook" class="button-icon">
            <span>Hỗ trợ qua Facebook</span>
        </a>
    </div>
</div>