<!-- Header Section -->
<div class="app">
	@if(!hideHeader){<header class="header">
		<nav class="navbar">
			<div class="container">
				<div class="nav-brand">
					<h2>CAM CHECK</h2>
				</div>

				<!-- Hamburger menu button for mobile -->
				<button class="mobile-menu-btn" (click)="toggleMenu()" [class.active]="isMenuOpen">
					<span></span>
					<span></span>
					<span></span>
				</button>

				<div class="nav-menu" [class.active]="isMenuOpen">
					<a href="#home" class="nav-link" (click)="closeMenu()">Trang chủ</a>
					<a href="#features" class="nav-link" (click)="closeMenu()">Tính năng</a>
					<!-- <a href="#about" class="nav-link" (click)="closeMenu()">Về chúng tôi</a> -->
					<!-- <a href="#download" class="nav-link" (click)="closeMenu()">Tải xuống</a> -->
					<a routerLink="/blogs" class="nav-link" (click)="closeMenu()">Hướng dẫn</a>
					<a routerLink="/san-pham" class="nav-link" (click)="closeMenu()">Sản Phẩm</a>
				</div>
			</div>
		</nav>
	</header>}

	<router-outlet />
</div>